.player-bar {
  text-align: center;
}

.player-bar *{
  margin: 0px 15px;
}

.custom-margin {
  margin: 40px 0;
}

.no-margin {
  margin: 0;
}

.quests-list {
  max-height: 600px;
  overflow-y: scroll;
}